<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>key_Name</key>
				<string>SSQ_key_Name</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>detailTitle</key>
				<string>每周二、四、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
			</dict>
			<dict>
				<key>key_Name</key>
				<string>DLT_key_Name</string>
				<key>detailTitle</key>
				<string>每周一、三、六开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>大乐透</string>
			</dict>
			<dict>
				<key>detailTitle</key>
				<string>每天开奖 包括试机号提醒</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_Name</key>
				<string>ThreeD_key_Name</string>
				<key>title</key>
				<string>3D</string>
			</dict>
			<dict>
				<key>detailTitle</key>
				<string>每周一、三、五开奖</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_Name</key>
				<string>QLC_key_Name</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>七乐彩</string>
			</dict>
			<dict>
				<key>detailTitle</key>
				<string>每周二、五、日开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>key_Name</key>
				<string>QXC_key_Name</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>title</key>
				<string>七星彩</string>
			</dict>
			<dict>
				<key>detailTitle</key>
				<string>每天开奖</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_Name</key>
				<string>PLThree_key_Name</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>排列3</string>
			</dict>
			<dict>
				<key>detailTitle</key>
				<string>每天开奖</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>cell_type</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>key_Name</key>
				<string>PLFive_key_Name</string>
				<key>title</key>
				<string>排列5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
