<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>targetVC</key>
				<string>CCRedeemViewController</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>title</key>
				<string>使用兑换码</string>
				<key>icon</key>
				<string>RedeemCode</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>plist_Name</key>
				<string>CCSettingRemind.plist</string>
				<key>targetVC</key>
				<string>CCSettingsViewController</string>
				<key>title</key>
				<string>推送和提醒</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>icon</key>
				<string>MorePush</string>
			</dict>
			<dict>
				<key>key_Name</key>
				<string>handShake_switch_key</string>
				<key>title</key>
				<string>摇一摇机选</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>icon</key>
				<string>handShake</string>
			</dict>
			<dict>
				<key>key_Name</key>
				<string>sound_Effect_switch_key</string>
				<key>title</key>
				<string>声音效果</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>icon</key>
				<string>sound_Effect</string>
			</dict>
			<dict>
				<key>key_Name</key>
				<string>quanzi_switch_key</string>
				<key>title</key>
				<string>圈子仅Wifi加载图片</string>
				<key>accessory</key>
				<string>UISwitch</string>
				<key>icon</key>
				<string>More_QuanZi_NetFlowSwitchImage</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>推荐给朋友</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>icon</key>
				<string>MoreShare</string>
			</dict>
			<dict>
				<key>targetVC</key>
				<string>CCMoreProductController</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>title</key>
				<string>产品推荐</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>icon</key>
				<string>MoreNetease</string>
			</dict>
			<dict>
				<key>function_Name</key>
				<string>checkUpdate</string>
				<key>title</key>
				<string>检查新版本</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>icon</key>
				<string>MoreServiceAgreement</string>
			</dict>
			<dict>
				<key>plist_Name</key>
				<string>CCAbout.plist</string>
				<key>targetVC</key>
				<string>CCAboutViewController</string>
				<key>title</key>
				<string>关于</string>
				<key>accessory_image</key>
				<string>HYGPersonPageGrayRightArrow</string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>icon</key>
				<string>MoreAbout</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
